* {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
  max-width: 960px;
  margin: 0 auto;
  padding-top: 20px;
}

.code {
  background-color: #eee;
  font-family: "SFMono-Regular",Consolas,"Liberation Mono",Menlo,Courier,monospace;
  font-size: 85%;
  margin: 0;
  padding: 3px 6px;
  border-radius: 3px;
}